@{
  Layout = "_Layout";
}
@using Factory.Models;
@model Factory.Models.Machine
<div class="px-5 py-5 bg-light">
  @using (Html.BeginForm())
  {
    <div class="form-group px-5">
      <div class="row">
        <div class="col">
          @Html.TextBoxFor(model => model.MachineName, new {@class = "form-control", type="num", required = "required", placeholder="Machine Name"})
        </div>
        <div class="col">
          @Html.TextBoxFor(model => model.MachineMake, new {@class = "form-control",required = "required", placeholder="Machine Make"})
        </div>
        <div class="col">
          @Html.TextBoxFor(model => model.MachineModel, new {@class = "form-control",required = "required", placeholder="Machine Model"})
        </div>
        </div>
        <div class="row mt-3">
          <div class="col">
          @Html.TextBoxFor(model => model.ManufacturedYear, new {@class = "form-control", type="number", required = "required", min=1950, max=2022, placeholder="Manufacture Year"})
            </div>
        <div class="col">
          @Html.DropDownList("MachinePurpose", new List<SelectListItem>
          {
            new SelectListItem { Text = "What does this machine do", Selected=true, Disabled=true},
            new SelectListItem { Text = "Create", Value = "create"},
            new SelectListItem { Text = "Destroy", Value = "destroy"},
            new SelectListItem { Text = "Liquify", Value = "liquify"}
          }, new { @required = "required", @class="form-control"})
        </div>
      </div>
    </div>
    <div class="form-group px-5 mt-3">
      <input type="submit" value="Add new machine" class="btn btn-dark btn-small" />
    </div>
  }
</div>
