@{
  Layout = "_Layout";
}
@using Factory.Models;
@model List<Factory.Models.Engineer>;

<table class="table table-striped mt-3">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Shift Start</th>
      <th scope="col">Shift End</th>
      <th scope="col" class="text-end">View/Edit<br>Machines</th>
      <th scope="col" class="text-end">Delete</th>
    </tr>
  </thead>
  <tbody>

    @foreach (Engineer engineer in Model)
    {
      <tr>
        <th scope="row">@engineer.EngineerId</th>
        <td>@engineer.Name</td>
        <td>@(DateTime.Today.Add(engineer.ShiftStart).ToString("hh:mm tt"))</td>
        <td>@(DateTime.Today.Add(engineer.ShiftEnd).ToString("hh:mm tt"))</td>
        <td class="text-end">
          <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#engineerModal-@engineer.EngineerId">
            🖉
          </button>
        </td>
        <div class="modal fade" id="engineerModal-@engineer.EngineerId" tabindex="-1" aria-labelledby="engineerModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="engineerModalLabel">@engineer.Name's licensed machines</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                @if (@engineer.JoinEntities.Count > 0)
                {
                  @foreach (var join in @engineer.JoinEntities)
                  {

                    <div class="card my-2" id="card-eng-@engineer.EngineerId-mach-@join.Machine.MachineId">
                      <div class="card-header">
                        <div class="row">
                          <div class="col-10">
                            <h3>@join.Machine.MachineName</h3>
                          </div>
                          <div class="col-2">
                            <button type="button" class="btn btn-secondary btn-sm mt-1" id="removeMachine-eng-@engineer.EngineerId-mac-@join.Machine.MachineId">Delete</button>
                            <script>
                              $("#removeMachine-eng-@engineer.EngineerId-mac-@join.Machine.MachineId").click(function () {
                                let machineId = @join.Machine.MachineId;
                                let engineerId = @engineer.EngineerId;
                                $.ajax({
                                  type: "POST",
                                  url: '@Url.Action("RemoveMachineFromEnginner")',
                                  data: { 'joinId': @join.EngineerMachineId },
                                  success: function () {
                                    $("#card-eng-@engineer.EngineerId-mach-@join.Machine.MachineId").hide();
                                  },
                                  error: function () {
                                    alert("Error while inserting data");
                                  }
                                });
                              });
                            </script>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <strong>Make</strong>: @join.Machine.MachineMake
                        <br>
                        <strong>Model</strong>: @join.Machine.MachineModel
                        <br>
                        <strong>Purpose</strong>: @join.Machine.MachinePurpose
                        <br>
                        <strong>Year</strong>: @join.Machine.ManufacturedYear
                      </div>
                    </div>
                  }
                }
                else
                {
                  <p>No machines are currently showing as licensed for @engineer.Name</p>
                }
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <td class="text-end">
          <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#deleteEngineerModal-@engineer.EngineerId">
            ⊠
          </button>
        </td>
        <div class="modal fade" id="deleteEngineerModal-@engineer.EngineerId" tabindex="-1" aria-labelledby="deleteEngineerModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteEngineerModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>

      </tr>
    }
  </tbody>
</table>
